<template name="addBroadcast">
  <!-- Add Project Modal -->
  <div class="broadcast-form">
    <form class="form-horizontal" role="form">
        <div>{{> errors}}</div>
          <div class="form-group">
            <label for="inputEmail1" class="col-lg-2 control-label">Title</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" id="inputTitle" name="title" placeholder="Broadcast Name">
            </div>
          </div>
          <div class="form-group">
            <label for="inputUrl" class="col-lg-2 control-label">Match</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" id="inputUrlMatch" name="url_match" placeholder="/*">
            </div>
          </div>
            <div class="form-group">
            <label for="inputUrl" class="col-lg-2 control-label">Start</label>
            <div class="col-lg-10">
              <input type="date" class="form-control" id="inputStart" name="start">
            </div>
          </div>
          <div class="form-group">
            <label for="inputUrl" class="col-lg-2 control-label">End</label>
            <div class="col-lg-10">
              <input type="date" class="form-control" id="inputEnd" name="end">
            </div>
          </div>
          <div class="form-group">
            <label for="inputUrl" class="col-lg-2 control-label">HTML</label>
            <div class="col-lg-10">
              <textarea type="text" class="form-control" id="inputBroadcast" rows="6" name="html"/>
            </div>
          </div>
        <div class="form-group">
          <div class="pull-right">
            <button type="button" class="btn btn-default" id="broadcastClose">Close</button>
            <button type="submit" value="Submit" class="btn btn-primary">Save changes</button>
          </div>
        </div>
     </form>
      <span><hr/></div>
   </div>

</template>
