.build
.build.*
.npm
.git

# This is necessary so plugins can use git repos as npm deps.
# Leave this here unless you understand the implications.
# See this issue for details:
# https://github.com/reactioncommerce/reaction/pull/5118
!.git/modules/imports/plugins/custom

.build.log
Dockerfile
.reaction/docker/reaction.*
docs
node_modules
