../api-plugins/api-core=true
../api-plugins/api-plugin-accounts=true
../api-plugins/api-plugin-address-validation=true
../api-plugins/api-plugin-address-validation-test=true
../api-plugins/api-plugin-authentication=true
../api-plugins/api-plugin-authorization-simple=true
../api-plugins/api-plugin-carts=true
../api-plugins/api-plugin-catalogs=true
../api-plugins/api-plugin-discounts=true
../api-plugins/api-plugin-discounts-codes=true
../api-plugins/api-plugin-email=true
../api-plugins/api-plugin-email-smtp=true
../api-plugins/api-plugin-email-templates=true
../api-plugins/api-plugin-files=true
../api-plugins/api-plugin-i18n=true
../api-plugins/api-plugin-inventory=true
../api-plugins/api-plugin-inventory-simple=true
../api-plugins/api-plugin-job-queue=true
../api-plugins/api-plugin-navigation=true
../api-plugins/api-plugin-notifications=true
../api-plugins/api-plugin-orders=true
../api-plugins/api-plugin-payments=true
../api-plugins/api-plugin-payments-example=true
../api-plugins/api-plugin-payments-stripe=true
../api-plugins/api-plugin-pricing-simple=true
../api-plugins/api-plugin-products=true
../api-plugins/api-plugin-settings=true
../api-plugins/api-plugin-shipments=true
../api-plugins/api-plugin-shipments-flat-rate=true
../api-plugins/api-plugin-shops=true
../api-plugins/api-plugin-simple-schema=true
../api-plugins/api-plugin-sitemap-generator=true
../api-plugins/api-plugin-surcharges=true
../api-plugins/api-plugin-system-information=true
../api-plugins/api-plugin-tags=true
../api-plugins/api-plugin-taxes=true
../api-plugins/api-plugin-taxes-flat-rate=true
../api-plugins/api-plugin-translations=true
