.font-size(@sizeValue) {
  @remValue: @sizeValue;
  @pxValue: (@sizeValue * 10);
  font-size: ~"@{pxValue}px";
  font-size: ~"@{remValue}rem";
}

.product-grid .overlay {
  margin: -40px 0 0 0;
  height: 40px;
  color: @product-overlay-text;
  padding: 10px;
  background-color: @product-overlay-bg;
  width: 100%;
  opacity: 0.7;
  text-align: center;
}

.overlay .overlay-content {
  overflow: hidden;
  white-space: nowrap;
  font-size: @font-size-base;
  font-weight: 200;
}

.product-grid .positioning {
  // padding: 0 5px 0 5px;
  margin: 0 5px 0 -5px;
  border: 1px solid aliceblue;
}

.product-grid .overlay-icon {
  margin-top: 3px !important;
  cursor: pointer;
}

.product-grid {
  max-width: 100%; /* 960 px */
  margin: 0 auto;
}

#product-grid-list
{
  width: 100%;
  overflow: hidden;
  margin-bottom: -1.875em; /* 30px */
  -webkit-column-count: @product-grid-columns-lg;
  -webkit-column-gap: 1.875em; /* 30px */
  -webkit-column-fill: auto;
  -moz-column-count: @product-grid-columns-lg;
  -moz-column-gap: 1.875em; /* 30px */
  -moz-column-fill: auto;
  column-count: @product-grid-columns-lg;
  column-gap: 1.875em; /* 30px */
  column-fill: auto;
}

.product-grid-item {
  margin-bottom: 1.875em; /* 15px 30px */
  margin-right: 1px;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;

  &:last-child {
    overflow:hidden;
  }

  .badge {
    position:absolute;
    top:10px;
    right:10px;
  }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .product-grid-item {
        &:last-child {

            overflow:visible;

            @media (min-width: @screen-md-max){
                display:inline-block;
            }
        }
    }
}

@media (min-width:  @screen-md-min) and (max-width: @screen-md-max){
  .product-grid .overlay {
      font-size: 1.0em;
  }

  #product-grid-list
  {
    -webkit-column-count: @product-grid-columns-md;
    -webkit-column-gap: 0.938em; /* 15px */
    -moz-column-count: @product-grid-columns-md;
    -moz-column-gap: 0.938em; /* 15px */
    column-count: @product-grid-columns-md;
    column-gap: 0.938em; /* 15px */
  }
  .product-grid-item
  {
    display:block;
    margin-bottom: 1.1em; /* 15px */
  }
}

@media (min-width:  @screen-sm-min) and (max-width: @screen-sm-max){
  .product-grid .overlay {
      font-size: 1.0em;
  }

  #product-grid-list
  {
    -webkit-column-count: @product-grid-columns-sm;
    -webkit-column-gap: 0.938em; /* 15px */
    -moz-column-count: @product-grid-columns-sm;
    -moz-column-gap: 0.938em; /* 15px */
    column-count: @product-grid-columns-sm;
    column-gap: 0.938em; /* 15px */
  }
  .product-grid-item
  {
    margin-bottom: 0.938em; /* 15px */
  }
}

@media  (max-width: @screen-xs-max)
{
  .product-grid .overlay {
      font-size: 0.9em;
  }

  #product-grid-list
  {
    -webkit-column-count: auto;
    -moz-column-count: auto;
    column-count: auto;
  }
  .product-grid-item
  {
    margin-bottom: 0.5em;
  }
}
