{
  "plugins": [
    [ "lodash", {
      "id": [
        "lodash",
        "recompose"
      ]
    }],
    [ "module-resolver", {
      "root": ["./"],
      "alias": {
        "underscore": "lodash",
        "@reactioncommerce/reaction-ui": "./imports/plugins/core/ui/client/components",
        "@reactioncommerce/reaction-collections": "./imports/plugins/core/collections",
        "@reactioncommerce/reaction-components": "/imports/plugins/core/components/lib",
        "@reactioncommerce/reaction-router": "./imports/plugins/core/router/lib"
      }
    }]
  ],
  "presets": [
    "es2015",
    "react",
    "stage-2"
  ]
}
