{
  "plugins": [
    "lodash",
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "underscore": "lodash",
        "@reactioncommerce/reaction-ui": "./imports/plugins/core/ui/client/components",
        "@reactioncommerce/reaction-router": "./imports/plugins/core/router/lib",
        "@reactioncommerce/reaction-layout": "./imports/plugins/core/layout/lib"
      }
    }]
  ],
  "presets": ["es2015", "react", "stage-2"]
}
