.DS_Store
.fileStorage/
.vscode
.idea
.c9
*.csv
*.dat
*.gz
*.log
*.out
*.pid
*.seed
*.sublime-project
*.sublime-workspace

lib-cov
logs
node_modules
npm-debug.log
pids
results
allure-results

client/plugins.js
client/plugins.css
client/plugins.less
client/plugins.styl
client/plugins.scss
server/plugins.js

custom/client/*
!custom/client/.gitkeep

custom/server/*
!custom/server/.gitkeep

public/custom/*
!public/custom/.gitkeep

public/plugins/*
!public/plugins/.gitkeep

private/custom/*
!private/custom/.gitkeep

private/plugins/*
!private/plugins/.gitkeep

imports/plugins/custom/*
!imports/plugins/custom/.gitkeep

.reaction/config.json
