[submodule "api-plugins/inno-reaction-email-plugin"]
  path = api-plugins/inno-reaction-email-plugin
  url = git@github.com:KaiserXLabs/inno-reaction-email-plugin.git
[submodule "api-plugins/inno-reaction-core-plugin"]
  path = api-plugins/inno-reaction-core-plugin
  url = git@github.com:KaiserXLabs/inno-reaction-core-plugin.git
