.DS_Store
.fileStorage/
.idea
*.csv
*.dat
*.gz
*.log
*.out
*.pid
*.seed
*.sublime-project
*.sublime-workspace

jsdoc.json
lib-cov
logs
node_modules
npm-debug.log
pids
results
allure-results

client/plugins.js
server/plugins.js

custom/client/*
!custom/client/.gitkeep

custom/server/*
!custom/server/.gitkeep

public/custom/*
!public/custom/.gitkeep

private/custom/*
!private/custom/.gitkeep

imports/plugins/custom/*
!imports/plugins/custom/.gitkeep

.reaction/config.json
