<template name="introFooter">
            {{! We'll show different navigation if user is logged in}}
            {{#if currentUser}}
                {{#if userhasprofile}}
                    {{> dashboardfooter}}
                {{else}}
                    {{! We'll show different navigation if user is logged in}}
                {{/if}}
            {{else}}
                {{> publicfooter}}
            {{/if}}
</template>

<template name="publicfooter">
    <footer>
    <nav class="navbar-fixed-bottom" role="navigation">
    <div class="col-md-2">
        <ul class="list-unstyled">
            <li><a href="http://ongoworks.com">Assembled in LA</a></li>
            <li><a href="{{pathFor 'about'}}">About Reaction</a></li>
            <li><a href="{{pathFor 'termsofuse'}}">Terms of Service</a></li>
            <li><a href="{{pathFor 'privacypolicy'}}">Privacy Policy</a></li>
            <li><a href="{{pathFor 'faqs'}}">FAQ</a></li>
        </ul>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-2"></div>
    <div class="col-md-6"></div>
    </nav>
    </footer>
</template>

<template name="dashboardfooter">
    <footer class="unstyled">
    <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <div class="col-md-2"></div>
    <div class="col-md-2"></div>
    <div class="col-md-2"></div>
    <div class="col-md-6"></div>
    </nav>
    </footer>
</template>