<template name="footer">
    <footer>
    <nav class="navbar navbar-default navbar-fixed-bottom nav-stacked" role="navigation">
    <p class="navbar-text"><span class="glyphicon glyphicon-copyright-mark"></span>GREETRAMP engineered by <a href="http://ongoworks.com">Ongoworks</a></p>
    <ul class="nav navbar-nav">
        <li class="{{activeRouteClass 'about'}}"><a href="{{pathFor 'about'}}">About</a></li>
        <li class="{{activeRouteClass 'faqs'}}"><a href="{{pathFor 'faqs'}}">Faqs</a></li>
        <li class="{{activeRouteClass 'termsofuse'}}"><a href="{{pathFor 'termsofuse'}}">Terms of Use</a></li>
        <li class="{{activeRouteClass 'privacypolicy'}}"><a href="{{pathFor 'privacypolicy'}}">Privacy Policy</a></li>
    </ul>
    </nav>
    </footer>
</template>