<template name="header">
       <div class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          {{#if currentUser}}
              <a class="navbar-brand" href="{{pathFor 'home'}}">REACTION</a>
          {{else}}
              <a class="navbar-brand" href="{{pathFor 'home'}}">REACTION</a>
          {{/if}}
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            {{! We'll show different navigation if user is logged in}}
            {{#if currentUser}}
            <p class="navbar-text">Dashboard</p>
            {{else}}
            <li class="{{activeRouteClass 'howitworks'}}"><a href="{{pathFor 'howitworks'}}">How it works</a></li>
            <li class="{{activeRouteClass 'pricing'}}"><a href="{{pathFor 'pricing'}}">Pricing</a></li>
            <li class="{{activeRouteClass 'contactus'}}"><a href="{{pathFor 'contactus'}}">Contact us</a></li>
            {{/if}}
          </ul>
          <div class="nav navbar-nav navbar-right">
          {{ loginButtons}}
        </div><!--/.navbar-collapse -->
      </div>
    </div>
</template>
