<template name="projects">
    <div class="container">
        {{> dashnav}}
        <div class="panel panel-default">
          <div class="panel-heading">
            <b class="panel-title">{{projects.title}}</b>
            <button type="button" data-toggle="modal" class="btn btn-default btn-sm pull-right" data-target="#createBroadcast"><span class="glyphicon glyphicon-plus"></span></button>
            <div class="clearfix"></div>
          </div>
          {{> broadcasts}}
        </div>
    </div>
</template>