<template name="addressBookReview">
  <div class="panel-heading">
    <h3 class="panel-control-bar">
      <span data-i18n="addressBookEdit.reviewAddress">Review Changes To Your address</span>
    </h3>
  </div>
  <div class="panel-body">

    <div class="row header">
      <div class="col-md-7">
        Validated Address
      </div>
      <div class="col-md-4">
        Address
      </div>
    </div>
  <!-- country -->
  <div class="row country-display{{#if fieldErrors.country.length}} address-invalid-line{{/if}}">
    <div class="col-md-5">
      {{validatedAddress.country}}
    </div>

    <div class="col-md-2">
      {{#if fieldErrors.country.length}}
        <span data-key="country" class="address-line-copyover fa fa-arrow-right"></span>
      {{/if}}
    </div>

    <div class="col-md-5">
      {{address.country}}
    </div>
  </div>
    <!-- address1 -->
    <div class="row address1-display{{#if fieldErrors.address1.length}} address-invalid-line{{/if}}">
      <div class="col-md-5">
        {{validatedAddress.address1}}
      </div>

      <div class="col-md-2">
        <span data-key="address1" class="address-line-copyover fa fa-arrow-right"></span>
      </div>

      <div class="col-md-5">
        {{address.address1}}
      </div>
    </div>

    {{#if hasAddress2}}
        <!-- address2 -->
        <div class="row address2-display{{#if fieldErrors.address2.length}} address-invalid-line{{/if}}">
          <div class="col-md-5">
            {{validatedAddress.address2}}
          </div>

          <div class="col-md-2">
            {{#if fieldErrors.address2.length}}
              <span data-key="address2" class="address-line-copyover fa fa-arrow-right"></span>
            {{/if}}
          </div>

          <div class="col-md-5">
            {{address.address2}}
          </div>
        </div>
    {{/if}}
    <!-- city -->
    <div class="row city-display{{#if fieldErrors.city.length}} address-invalid-line{{/if}}">
      <div class="col-md-5">
        {{validatedAddress.city}}
      </div>

      <div class="col-md-2">
        {{#if fieldErrors.city.length}}
          <span data-key="address2" class="address-line-copyover fa fa-arrow-right"></span>
        {{/if}}
      </div>

      <div class="col-md-5">
        {{address.city}}
      </div>
    </div>

    <!-- region -->
    <div class="row region-display{{#if fieldErrors.region.length}} address-invalid-line{{/if}}">
      <div class="col-md-5">
        {{validatedAddress.region}}
      </div>

      <div class="col-md-2">
        {{#if fieldErrors.region.length}}
          <span data-key="address2" class="address-line-copyover fa fa-arrow-right"></span>
        {{/if}}
      </div>

      <div class="col-md-5">
        {{address.region}}
      </div>
    </div>

    <!-- postal -->
    <div class="row postal-display{{#if fieldErrors.postal.length}} address-invalid-line{{/if}}">
      <div class="col-md-5">
        {{validatedAddress.postal}}
      </div>

      <div class="col-md-2">
        {{#if fieldErrors.postal.length}}
          <span data-key="postal" class="address-line-copyover fa fa-arrow-right"></span>
        {{/if}}
      </div>

      <div class="col-md-5">
        {{address.postal}}
      </div>
    </div>
    <div class="row pull-right">
      <button type="submit" class="btn btn-primary" data-i18n="app.saveAndContinue" data-event-action="saveAddress">Save and continue</button>
      <button type="reset" class="btn btn-default" data-i18n="app.cancel" data-event-action="cancelAddressEdit">Cancel</button>
    </div>
  </div>

</template>
