

.nav-default {
  > li > a {
    // padding: 0 3rem;
    color: @text-color;
    // font-size: 1.6rem;
    border-left: 3px solid transparent;
    border-radius: 0;
  }


  > li > a:hover,
  > li > a:focus {
    background-color: transparent;
    border-left: 3px solid @brand-vivid-color;
  }

  > li.active > a,
  > li.active > a:hover,
  > li.active > a:focus {
    background-color: transparent;
    border-left: 3px solid @brand-vivid-color;
    border-radius: 0;
    color: @text-color;
  }
}

.list-group-item.active {
  color: contrast(@brand-primary, @text-color, @white);
}
