// --------------------------------------------------
//
// Popovers


.popover-footer {
  .display(flex);
  .justify-content(flex-end);
  
  padding: 8px 14px;

  border-top: @border-thin;
}

// Special Popovers
.popover-advanced {
  min-width: 250px;
  min-height: 250px;
}