.variant-edit-form {
  // display: none;
  margin: -5px 10px 0 10px;
  background-color: @well-border;
  padding: 2px 8px 1px 8px;
  border-radius: 0 0 6px 6px;
  // a {
  //   line-height: 30px;
  //   margin: 0 0 0 -5px;
  // }
  .form-group {
    margin-bottom: 5px;
  }
}

.lowInventoryWarningThreshold {
  label {
      vertical-align: middle;
      font-weight:normal;
      margin-top: 10px;
      float: right;
  }
}
