/* Set the fixed height of the footer here */
.footer-default {
  position: relative;
  padding: 40px 20px;
  background-color: @footer-default-bg;

  a {
    color: @footer-default-color;

    &:hover {
      color: @footer-default-color-hover;
    }
  }
}
