.cart-drawer {
  background-color: @cart-drawer-bg;
  color: @text-color;
  padding: 10px;
  text-align: center;
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0 0 10px #000000;

  .cart-drawer-empty {
    min-height: @cart-drawer-height;
  }
}

