version: 2

# The following stanza defines a map named defaults with a variable that may be
# inserted using the YAML merge (<<: *) key later in the file to save some
# typing. See http://yaml.org/type/merge.html for details.
defaults: &defaults
  environment:
    CI_SCRIPTS: 'npx --quiet --package @reactioncommerce/ci-scripts@1.6.2'
    DOCKER_REPOSITORY: "reactioncommerce/reaction"
    DOCKER_NAMESPACE: "reactioncommerce"
    DOCKER_NAME: "reaction"
  docker:
    - image: circleci/node:12.14.1-stretch

jobs:
  install-dependencies:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          keys:
            - reaction-v5-node-modules-{{ checksum "package.json" }}-{{ checksum "package-lock.json" }}
            - reaction-v5-node-modules-{{ .Branch }}
      - run:
          name: Install NPM dependencies
          command: npm ci
      - save_cache:
          key: reaction-v5-node-modules-{{ checksum "package.json" }}-{{ checksum "package-lock.json" }}
          paths:
            - node_modules
      - save_cache:
          key: reaction-v5-node-modules-{{ .Branch }}
          paths:
            - node_modules

  dockerfile-lint:
    <<: *defaults
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - run:
          name: Lint Dockerfiles
          command: ${CI_SCRIPTS} lint-dockerfiles

  eslint:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          keys:
            - reaction-v5-node-modules-{{ checksum "package.json" }}-{{ checksum "package-lock.json" }}
            - reaction-v5-node-modules-{{ .Branch }}
      - run:
          name: Lint JavaScript
          command: npm run lint

  graphql-lint:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          keys:
            - reaction-v5-node-modules-{{ checksum "package.json" }}-{{ checksum "package-lock.json" }}
            - reaction-v5-node-modules-{{ .Branch }}
      - run:
          name: Lint GraphQL schemas
          command: npm run lint:gql

  test-integration-query:
    <<: *defaults
    docker:
      - image: circleci/node:12.14.1-stretch
      # Integration tests need MongoDB server running and accessible on port 27017
      - image: circleci/mongo:4.2.0
        command: mongod --oplogSize 128 --replSet rs0 --storageEngine=wiredTiger
        ports:
          - "27017:27017"
    steps:
      - checkout
      - restore_cache:
          keys:
            - reaction-v5-node-modules-{{ checksum "package.json" }}-{{ checksum "package-lock.json" }}
            - reaction-v5-node-modules-{{ .Branch }}
      - run:
          name: Run Integration Query Tests
          command: MONGO_URL=mongodb://localhost:27017/test npm run test:integration:query

  test-integration-mutation:
    <<: *defaults
    docker:
      - image: circleci/node:12.14.1-stretch
      # Integration tests need MongoDB server running and accessible on port 27017
      - image: circleci/mongo:4.2.0
        command: mongod --oplogSize 128 --replSet rs0 --storageEngine=wiredTiger
        ports:
          - "27017:27017"
    steps:
      - checkout
      - restore_cache:
          keys:
            - reaction-v5-node-modules-{{ checksum "package.json" }}-{{ checksum "package-lock.json" }}
            - reaction-v5-node-modules-{{ .Branch }}
      - run:
          name: Run Integration Mutation Tests
          command: MONGO_URL=mongodb://localhost:27017/test npm run test:integration:mutation


  docker-build-push:
    <<: *defaults
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - run:
          name: Build and push production Docker image
          command: ${CI_SCRIPTS} docker-build-tag-push . ${DOCKER_REPOSITORY}

workflows:
  version: 2
  build_and_test:
    jobs:
      - install-dependencies
      - dockerfile-lint:
          requires:
            - install-dependencies
      - eslint:
          requires:
            - install-dependencies
      - graphql-lint:
          requires:
            - install-dependencies
      - test-integration-query:
          requires:
            - install-dependencies
      - test-integration-mutation:
          requires:
            - install-dependencies
      - docker-build-push:
          context: reaction-publish-docker
          requires:
            - dockerfile-lint
            - eslint
            - graphql-lint
            - test-integration-query
            - test-integration-mutation
