/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 50px;
  background-color: transparent;
  color: #422C2C;
}


/* Special fix for bootstrap modal see: https://github.com/twbs/bootstrap/issues/9855 */
body.modal-open{
  margin-right:0px!important;
}

.error-block {
  color: #b94a48;
}

/* home page */
.jumbotron {
  margin: 5px 0;
  text-align: center;
  background-color:transparent;
}

.container-narrow {
  margin: 0 auto;
  max-width: 700px;
}

.container-narrow > hr {
  margin: 40px 0 0 0;
}

.jumbotron {
  margin: 5px 0;
  text-align: center;
  background-color:transparent;
}
.jumbotron h1 {
  font-size: 82px;
  line-height: 1;
  font-weight: bold;
}
.account-create .btn {
  font-size: 18px;
  padding: 10px 24px;
}


#bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index:-1;
}
#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
  max-width: 100%;
  max-height: 100%;
  opacity:0.9;
}

.signup-wrapper{
  position: absolute;
}

.signup-form{
  padding: 10px;
}

.tellus {
  font-size: 28px;

}

.modal-open .navbar-fixed-top{
  margin-right:0px!important;
}


.navbar-intro {
  height: 40px !important;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
/*.navbar-wrapper {
  position: relative;
  z-index: 15;
}
*/
.navbar-fixed-bottom {
   background-color: rgba(201, 201, 201, 0.09);
}

#spinner { height: 300px }

.dropdown-menu {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  .signup-wrapper{
    background-color: rgba(119, 114, 114, 0.56);
    position: absolute;
    bottom: 35%;
  }

}
