.child-variant-table {
  margin-bottom: 0px;
}
.remove-child-variant {
  margin: 8px 0 0 0;
}

.variant-product-options {

}

.child-variant.image {
  width: 100%;
}

.variant-product-options {
  display: flex;
  flex-wrap: wrap;
}

.variant-select-option {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  max-width: 25%;
  padding: 10px;
}

.variant-select-option button {
  padding: 0;
}

.variant-select-option img {
  flex: 1 1 auto;
  width: 100%;
}

.variant-select-option .title {
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  padding: 10px;
}
