.dashboard-container {
  background-color: @cart-drawer-bg;
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0 0 10px #000000;
}

.dashboard-container > div {
  border-radius: 0px;
}
.dashboard {
  border-radius: 0;
  border: 1px solid @table-border-color;
}

.shop-config {
  background-color: @dashboard-widget-bg;
}

.shop-nav {
  background-color: @navbar-default-bg;
}