.cart-drawer {
  display: none;
  background-color: #626262;
  color: #fff;
  margin-top: -19px;
  margin-bottom: 50px;
  padding: 10px;
  text-align: center;
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0 0 10px #000000;
  z-index: 9999;

  .cart-items {
    padding: 5px;
    background-color: #626262;
    font-size: 16px;
    height: 100%;
  }

  .cart-totals {
    text-align: left;

    background-color: #626262;
    font-size: 16px;
    height: 250px;
  }
  .cart-image {
    height: 250px !important;
    width: 100%;
  }
  // .cart-labels {
  //   margin-top:-10px;
  // }
  .remove-cart-item {
    position: relative;
    margin-bottom: -30px;
    color: #626262;
    border: 2px solid rgba(129, 122, 122, 0.62);
    padding: 5px;
    border-radius:50%;
  }

  .thumbnail {
    margin-top: 5px;
    margin-right: 5px
  }
}