<template name="taxSettingsPanel">
  <div class="panel panel-default panel-tax-settings">
    <div class="panel-heading">
      {{#autoForm collection=Collections.Accounts schema=accountsSchema doc=account type="update" id="tax-settings-form"}}
        <div class="panel-body">
          {{>afQuickField name='taxSettings.exemptionNo' class='form-control'}}
        </div>
        <div class="panel-body">
          {{> afQuickField data-event-action="customType" name="taxSettings.custUsageType" type="select" options=entityCodes }}
          <p>Current Saved Entity Code: {{ account.taxSettings.custUsageType }}</p>
        </div>
        <div class="panel-body custUsageType hide">
          <label for="custUsageType">Custom value</label>
          <input id="custUsageType" type="text" name="custom-custUsageType" class="form-control">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      {{/autoForm}}
    </div>
  </div>
</template>
