<template name="dashboardShopifyOrders">
  <div class='container'>
    <p>Shopify Orders helps ease the transistion to Reaction Commerece by enabling the import of existing Shopify orders and turning them into Reaction Orders.</p>

    {{#if apiConfigured}}
      {{> shopifyApi}}
    {{/if}}
    <div class='row'>
    <h3>Configure your Shopify Account</h3>
      {{> shopifyOrdersSettings}}
    </div>
    <div class='row'>
      {{#if importFails}}
        <h3>Number of orders that to need customer servicer support to resolve:  {{importFailsCount}}</h3>
      {{/if}}
    </div>
  </div>
</template>
