<template name="addressBookAdd">
<div class="panel-control-bar">
  <h3 class="panel-title">
    {{#if hasAddressBookEntries}}
      <span data-i18n="addressBookAdd.addAddress">Add address</span>
    {{else}}
      <span data-i18n="addressBookAdd.createAddress">Create your default address</span>
    {{/if}}
  </h3>
</div>
<div class="panel-body panel-content">
  {{#autoForm schema=Schemas.Address id="addressBookAddForm" doc=thisAddress type="normal"}}
    <div class="row">
      <span id="addressbookAdd-alerts-placement">{{> inlineAlerts placement="addressBookAdd"}}</span>
    </div>
    <fieldset>
        {{> addressBookForm}}
        <div class="row text-right">
          <button type="submit" class="btn btn-primary" data-i18n="app.saveAndContinue" data-event-action="saveAddress">Save and continue</button>
          {{#if hasAddressBookEntries}}
          <button type="reset" class="btn btn-default" data-i18n="app.cancel" data-event-action="cancelAddressEdit">Cancel</button>
          {{/if}}
        </div>
    </fieldset>
  {{/autoForm}}
</div>
</template>
