<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Reaction Docs - API: <?js= title ?></title>

  <script src="scripts/prettify/prettify.js"></script>
  <script src="scripts/prettify/lang-css.js"></script>
  <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link type="text/css" rel="stylesheet" href="styles/prettify.css">
  <link type="text/css" rel="stylesheet" href="styles/jsdoc.css">
  <link type="text/css" rel="stylesheet" href="styles/header.css">

  <link rel="apple-touch-icon" sizes="180x180" href="https://assets.reactioncommerce.com/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="https://assets.reactioncommerce.com/favicon/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="https://assets.reactioncommerce.com/favicon/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="https://assets.reactioncommerce.com/favicon/manifest.json">
  <link rel="mask-icon" href="https://assets.reactioncommerce.com/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="https://assets.reactioncommerce.com/favicon/favicon.ico">
  <meta name="msapplication-config" content="https://assets.reactioncommerce.com/favicon/browserconfig.xml">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

  <input type="checkbox" id="nav-trigger" class="nav-trigger" />
  <label for="nav-trigger" class="navicon-button x">
    <div class="navicon"></div>
  </label>

  <label for="nav-trigger" class="overlay"></label>

  <div class="page">
    <div class="header">
      <div class="reaction-nav">
        <div class="reaction-nav-group reaction-nav-header">
          <a href="https://reactioncommerce.com" class="reaction-nav-item">
            <img src="images/reaction-commerce-logo-and-name.svg" alt="Reaction Commerce" class="logo">
          </a>
        </div>
        <div class="reaction-nav-group reaction-nav-links">
          <a href="https://api.docs.reactioncommerce.com" class="reaction-nav-link reaction-nav-link-docs" >
            <img src="images/api-icon.svg" height="22px" style="margin-right: 8px;">
            API Docs
          </a>
          <a href="https://docs.reactioncommerce.com" class="reaction-nav-link reaction-nav-link-docs" >
            <img src="images/docs-icon.svg" height="22px" style="margin-right: 8px;">
            Docs
          </a>
          <a class="reaction-btn" href="https://reactioncommerce.com/features#get-a-demo">
            Get a demo
            <div class="btn__arrow" data-reactid="51"></div>
          </a>
        </div>
      </div>
      <div class="header">
        <div class="main-header"></div>
      </div>
    </div>

    <div class="docs">
      <nav class="sidebar">
        <?js= this.nav ?>
      </nav>

      <div id="content">
        <?js if (title != 'Home') { ?>
        <h1 class="page-title"><?js= title ?></h1>
        <?js } ?>

        <?js= content ?>

        <footer>
          Documentation generated by <a href="https://github.com/jsdoc3/jsdoc">JSDoc <?js= env.version.number ?></a><?js if(env.conf.templates && env.conf.templates.default && env.conf.templates.default.includeDate !== false) { ?> on <?js= (new Date()) ?><?js } ?> using the <a href="https://github.com/clenemt/docdash">docdash</a> theme.
        </footer>
      </div>

      <br class="clear">
    </div>
  </div>

  <script>prettyPrint();</script>
  <script src="scripts/linenumber.js"></script>

</body>

</html>
