.ltr({
  // This is for making sure WebKit knows the "default" direction when switching back from RTL.
  // It solves a bug where some of the elements stayed RTL because the Computed Style on Document still says direction: rtl
  direction: ltr;
});

.rtl({
  direction: rtl;
  text-align: right;
});
