<template name="accounts">
  {{#if currentUser}}
    {{> user_loggedin}}
  {{else}}
    {{> user_loggedout}}
  {{/if}}
</template>

<template name="user_loggedin">
  {{#if loggingin}}
    <span class="navbar-text pull-right">Logging In...</span>
  {{else}}
    <span class="navbar-text pull-right"><a href="" id="logout">Sign out</a></span>
  {{/if}}
</template>

<template name="user_loggedout">
  {{! Login Template}}
  <ul class="nav navbar-nav pull-right">
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sign In<b class="caret"></b></a>
      <ul class="dropdown-menu">
        <div class="container">
          {{> errors}}
          <form action="" method="POST" role="form" id="login">
              <div class="form-group">
                  <label for="input-email" class="sr-only">Email</label>
                  <input type="email" class="form-control input-sm" id="input-email" placeholder="Email">
              </div>
              <div class="form-group">
                  <label for="input-password" class="sr-only">Password</label>
                  <input type="password" class="form-control input-sm" id="input-password" placeholder="Password">
              </div>
              <button type="submit" class="btn btn-sm btn-primary pull-right">Submit</button>
          </form>
        </div>
      </ul>
    </li>
  </ul>
</template>


<template name="accountCreateStep1">
<div class="container">
    <div class="col-md-2 col-sm-1 col-xs-1"></div>
        <div class="signup-wrapper text-center col-md-8 col-md-offset-2 col-sm-11  col-xs-11">
          <div class="signup-form">
            <form class="form-inline" role="form" id="create-account-form">
              <div class="form-group">
              <label class="sr-only" for="create-name">Your full name</label>
              <input type="text" class="form-control" id="input-name" placeholder="Enter your full name">
            </div>
            <div class="form-group">
              <label class="sr-only" for="create-email">Email address</label>
              <input type="email" class="form-control" id="input-email" placeholder="Enter email">
            </div>
            <div class="form-group">
              <label class="sr-only" for="create-password">Password</label>
              <input type="password" class="form-control" id="input-password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-default">Sign up</button>
          </form>
          </div>
        </div>
    <div class="col-md-2 col-sm-2"></div>
</div>
</template>


<template name="createprofile">
  <div class="container">
    <h1 class="text-center">Nice to meet you, {{fname}}!</h1>
    <div class="well text-center">Congratulations! Your account has been created. Next up, tell us just a few more details to get started.</div>
    <div class="col-md-4 tellus">Tell us who you are.</div>
    <form class="form-inline" role="form" id="update-profile">
      <div class="form-group col-md-7 col-sm-10 col-xs-10">
        <label class="sr-only" for="input-store">Store Name</label>
        <input type="text" class="form-control" id="input-store" placeholder="What's your store name? (Don't worry you can change this later.)">
      </div>
      <button type="submit" class="btn btn-default">Next</button>
    </form>
  </div>
</template>