<template name="memberForm">
  <div class="panel panel-default">
    <div class="panel-body">
      <form class="">
        <div class="form-group">
          <label for="member-form-name"><span data-i18n="accountsUI.name">Name</span></label>
          <input type="text" class="form-control" id="member-form-name" name="name" placeholder="Bob Jane">
        </div>
        <div class="form-group">
          <label for="member-form-email"><span data-i18n="accountsUI.email">Email</span></label>
          <input type="email" class="form-control" id="member-form-email" name="email" placeholder="bob.jane@example.com">
        </div>
        <button type="submit" class="btn btn-primary">
          <span data-i18n="accountsUI.info.sendInvitation">Send invitation</span>
        </button>
      </form>
    </div>
  </div>
</template>
