
.rui.separator.labeled {
  display: flex;
  align-items: center;
}

.rui.separator.labeled hr {
  flex: 1 1 auto;
}

.rui.separator.labeled .label {
  flex: 0 0 auto;
  color: @text-color;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.rui.separator.padding.xs {
  padding-left: @padding-xs-horizontal;
  padding-right: @padding-xs-horizontal;
}
