<template name="layout">
  <!-- to use, implement Template.layout.replaces "coreLayout" -->
  <nav class="reaction-navigation-header">{{> yield region="layoutHeader"}}</nav>
  <nav class="reaction-cart-drawer">{{>cartDrawer}}</nav>
  <div class="reaction-dashboard-drawer">{{> yield region="dashboard"}}</div>
  <main role="main" id="main">
    <div class="container-fluid">
      <span id="layout-alerts">{{>bootstrapAlerts}}</span>
      {{> yield}}
    </div>
  </main>
  <footer class="reaction-navigation-footer">{{>yield region="layoutFooter"}}</footer>
</template>
