#frm select {
  width: auto;
}

.editable-width {
  width: 250px !important;
  padding: 5px;
}
.editable-input {
  padding: 0px 10px 0px 10px !important;
}

@media (min-width: 768px) {
  .editable-width {
    width: 500px !important;
    padding: 5px;
  }
}