<template name="dashnav">
    {{> addProject}}
    {{> projectEdit}}
    <nav class="navbar navbar-default" role="navigation">
        <div class="btn-group navbar-text">
          <button type="button" class="btn btn-primary" id="currentproject">{{currentProjectTitle}}</button>
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu" id="projectpicker">
            <li><a href="/">Overview</a></li>
            <li><a href="{{pathFor 'projectsList'}}">All Projects</a></li>
            <li class="divider"></li>
            {{#each projectList}}
            <li><a href="{{pathFor 'projects' this}}" data-target="{{_id}}">{{title}}</a></li>
            {{/each}}
          </ul>
        </div>
        <div class="navbar-text pull-right">
           <button type="button" data-toggle="modal" class="btn btn-default" data-target="#createProject"><span class="glyphicon glyphicon-plus-sign"></span></button>
          {{#if projects.url}}
          <button type="button" data-toggle="modal" class="btn btn-default" data-target="#projectEdit"><span class="glyphicon glyphicon-cog"></span></button>
          {{/if}}
        </div>
    </nav>
</template>