.navbar-accounts {
  .dropdown{
    .circular-icon {
      width: 40px;
      height: 40px;
      margin: -15px 5px;
      border: 2px solid rgba(129, 122, 122, 0.62);
      border-radius: 50%;
      padding: 10px;
      display: inline-block;
    }
    .user-accounts-dropdown {
      min-width: 200px;
      min-height: 225px;
      padding: 10px;
    }
    .user-accounts-dropdown-content {
      min-height: 155px;
      border: 1px solid @dropdown-border;
      margin-bottom: 10px;
      padding: 20px 5px 10px 5px;
      text-align: center;
    }
    .user-accounts-dropdown-apps {
      margin-top: 10px;
      i { font-size: 45px; }
    }
    .dropdown-apps-icon {
      cursor: pointer;
      position: relative;
      margin: 10px;
      display: inline-block;
      width: 50px;
      height: 50px;
      a {
        color: @gray-light;
        height: 50px;
        text-decoration: none;
      }
      a:hover, a:focus {
        color: @gray;
        height: 50px;
        text-decoration: none;
        background-color: transparent;
      }
    }
    .icon-text {
      position: relative;
      bottom: 7px;
      text-align: center;
      font-size: 10px;
    }

  }

  .dropdown-menu {
    border: 1px solid @dropdown-border;
    margin-top: 13px;
  }

  .dropdown-menu:before {
    position: absolute;
    top: -10px;
    right: 9px;
    display: inline-block;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ccc;
    border-left: 10px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
  }

  .dropdown-menu:after {
    position: absolute;
    top: -9px;
    right: 10px;
    display: inline-block;
    border-right: 9px solid transparent;
    border-bottom: 9px solid #ffffff;
    border-left: 9px solid transparent;
    content: '';
  }
  .dropdown-backdrop {
    background-color: rgba(148, 145, 145, 0.34);
  }
}

.additional-link-container {
  a {
    color: @link-color;
  }
  a:hover {
    color: @link-hover-color;
    background-color: transparent;
  }
}

@media only screen and (max-width: @screen-xs-max) {
  .navbar-accounts {
    padding-top: (@navbar-padding-vertical + 3px);
    #logged-in-display-name {
      display: none;
    }
    .dropdown-menu { right: -60px;}
    .dropdown-menu:before {
      right: 65px;
    }
    .dropdown-menu:after {
      right: 65px;
    }
  }
}