// Import Variables
@import "{reactioncommerce:core-theme}/lib/bootstrap/less/bootstrap.less";
@import "{reactioncommerce:core-theme}/default/variables.less";
@import "{reactioncommerce:core-theme}/default/mixins/flexbox.less";
@import "{reactioncommerce:core-theme}/default/mixins/rtl.less";


.rui.grouptag {

  @media screen and (max-width: @screen-sm-max) {
    margin-bottom: 20px;
  }
}

.rui.grouptag .item {
  .flex(1 1 auto);
  min-width: 200px;
  width: 15%;
  max-width: 15%;
  padding: 10px;
}

.rui.grouptag > .header {
  border-bottom: 1px solid @border-color;
}

.rui.grouptag > .header .rui.tag {
  font-weight: 600;
  text-transform: uppercase;

  @media screen and (max-width: @screen-sm-max) {
    .padding-left(30px);

    &:after {

    }
  }
}

.rui.grouptag > .content {
  @media screen and (max-width: @screen-sm-max) {
    .padding-left(40px);
  }
}

.rui.grouptag > .footer {

}

.rui.grouptag > .header .rui.tag.edit {
  text-transform: none;

  @color: lighten(@btn-success-bg, 10%);
  @color: @brand-secondary-color;
  @color: #238CC3;

  input {
    background-color: @color;
    border-color: @color;
    color: @white;
  }

  button {
    background-color: @color;
    border-color: @color;
    color: @white;
  }
}

.rui.grouptag > .header .rui.tag.edit input {
  .placeholder(@white);
}

.rui.grouptag > .content .rui.tag.link {
  text-transform: none;

  @media screen and (max-width: @screen-sm-max) {
    .display(flex);
    .align-items(center);
    font-size: 1.3rem;
    padding: 3px 0;
  }
}

.empty-tag-group {
  .display(flex);
  .flex-direction(column);
  .justify-content(center);
  .align-items(center);
  background-color: @black10;
  height: 120px;
  max-width: 300px;

  @media screen and (max-width: @screen-sm-max) {
    display: block;
  }
}
