<template name="currencySelect">
  {{#if currencies}}
    <div class="dropdown {{class}}" role="currency">
      <button class="btn btn-sm btn-transparent dropdown-toggle" type="button" data-toggle="dropdown" data-delay="1000">{{currentCurrency}}
        <span class="al-icon-arrow-down dropdown-icon"></span>
      </button>

      <ul class="dropdown-menu text-center" role="menu">
        <li class="dropdown-header" role="presentation" data-i18n="artlimes:app.selectCurrency">Select Currency</li>
        <li class="divider"></li>
        {{#each currencies}}
          <li class="{{class}}">
            <a class="currency" role="menuitem">{{currency}} {{symbol}}</a>
          </li>
        {{/each}}
      </ul>
    </div>
  {{/if}}
</template>
