.font-size(@sizeValue) {
  @remValue: @sizeValue;
  @pxValue: (@sizeValue * 10);
  font-size: ~"@{pxValue}px";
  font-size: ~"@{remValue}rem";
}

.product-grid .overlay {
  position: relative;
  margin: -40px 0 0 0;
  height: 40px;
  color: @product-overlay-text;
  padding: 10px;
  background-color: @product-overlay-bg;
  width: 100%;
  text-align: center;
}

.overlay .overlay-content {
  overflow: hidden;
  white-space: nowrap;
  font-size: @font-size-large;
  font-weight: 200;
}

.product-grid .positioning {
  padding: 0 5px 0 5px;
  margin: 0 5px 0 -5px;
  border: 1px solid aliceblue;
}

.product-grid .overlay-icon {
  margin-top: 5px !important;
}

.product-grid {
  max-width: 100%; /* 960 px */
  margin: 0 auto;
}

#product-grid-list
{
  width: 100%;
  overflow: hidden;
  margin-bottom: -1.875em; /* 30px */
  -webkit-column-count: 3;
  -webkit-column-gap: 1.875em; /* 30px */
  -webkit-column-fill: auto;
  -moz-column-count: 3;
  -moz-column-gap: 1.875em; /* 30px */
  -moz-column-fill: auto;
  column-count: 3;
  column-gap: 1.875em; /* 30px */
  column-fill: auto;
}

.product-grid-item {
  position:relative;
  margin-bottom: 1.875em; /* 15px 30px */
  margin-right: 1px;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;

  .badge {
    position:absolute;
    top:10px;
    right:10px;
  }
}

@media only screen and (max-width: 40em )
{
  .product-grid .overlay {
      font-size: 1.0em;
  }

  #product-grid-list
  {
    -webkit-column-count: 2;
    -webkit-column-gap: 0.938em; /* 15px */
    -moz-column-count: 2;
    -moz-column-gap: 0.938em; /* 15px */
    column-count: 2;
    column-gap: 0.938em; /* 15px */
  }
  .item
  {
    margin-bottom: 0.938em; /* 15px */
  }
}

@media only screen and ( max-width: 20em )
{
  .product-grid .overlay {
      font-size: 0.9em;
  }

  #product-grid-list
  {
    -webkit-column-count: auto;
    -moz-column-count: auto;
    column-count: auto;
  }
}
