.cart-icon {
  margin-left: 2px;
  color: @cart-icon-text;
  border: @cart-icon-border;
  padding: @cart-icon-padding;
  border-radius: @cart-icon-border-radius;
  display: block;
  position: absolute;
  background-color: transparent;
  top: 0;
  right: 0;

  .badge {
    position: absolute;
    top: 22px;
    right: 1px;
    background-color: @cart-icon-badge;
  }

  .badge-warning {
    right: 33px;
    font-weight:bold;
    font-size:inherit;
    padding:2px 8px 2px 8px;
    background-color:@cart-icon-badge-warning;
  }
}
