@media (min-width: 1200px) {

}

@media (min-width: 980px) and (max-width: 1199px) {
    .tile .img > [class*="icon-"] {
        font-size: 50px;
    }
}

@media (min-width: 768px) and (max-width: 979px) {

}

@media (max-width: 767px) {
    body {
        padding-right: 0;
        padding-left: 0;
    }
    #theme-setting > a,
    #theme-setting ul {
        background: rgba(255,255,255,1);
    }
    .search-results.search-results-advance li > .info > a + .url {display: none;}
    .bootstrap-duallistbox-container .box2 {
        margin-top: 20px;
    }
    .flaty-nav > li[class*="hidden-"] {
        display: none !important;
    }

    .navbar-collapse .nav > li > a {
        font-weight: normal;
        margin-bottom: 0;
        -webkit-border-radius: 0;
           -moz-border-radius: 0;
                border-radius: 0;
    }
    .nav-list > li.active > a:after {display: none;}
    #sidebar {
        width: 100%;
        z-index: 999;
    }
    #sidebar:before {
        display: none;
    }
    .user-profile img {margin-right: 0!important;}
    .navbar-collapse .nav {
        margin: 9px;
    }
    .nav-list > li {
        margin-bottom: 1px;
    }
    .nav-list .search-form:hover {
        cursor: text;
    }
    .nav-list .search-pan input {
        width: 388px;
        border-bottom: 0;
    }
    #main-content {margin-left: 0 !important;}
    label {
        font-weight: bold;
        padding-bottom: 5px;
    }
}

@media (max-width: 480px) {
    .btn-toolbar-gallery .btn-group {
        margin-left: 0;
        margin-top: 15px;
    }
}

@media (max-width: 979px) {

}

@media (min-width: 980px) {

}