.page {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
}

.header {
  z-index: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  flex-flow: row nowrap;
}

.main-header {
  display: -ms-flexbox;
    display: flex;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -ms-flex-align: center;
    align-items: center;
    height: 60px;
    width: 100%;
    background-color: #f9f8f2;
}

.container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  height: 400px;
}

.sidebar {
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex: 0 0 320px auto;
  flex: 0 0 320px;
  border-right: 2px solid #8de8ff;
  background-color: #f7fdff;
  padding-left: 40px;
  overflow-y: auto;
  overflow-x: hidden;
}

.docs {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

#content {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  background-color: white;
  -moz-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 70px 40px 60px;
}

.reaction-nav {
  min-height: 70px;
  background-color: #fffbcf;
  padding: 0 40px;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 1000;
  position: relative;
  width: calc(100% - 320px);
}

.logo {
  vertical-align: middle;
}

.reaction-nav-group {
  min-height: 70px;
  box-sizing: border-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 320px;
}

.reaction-nav-header {
  flex: 0 1 auto;
  background-color: #f7fdff;
  border-right: 2px solid #8de8ff;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -ms-flex-pack: justify;
  padding-left: 40px;
}

.reaction-nav-links {
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -moz-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  height: 100%;
  width: 100%;
}

.reaction-nav-link {
  display: -moz-flex;
display: -ms-flexbox;
display: -ms-flex;
display: flex;
-moz-align-items: center;
-ms-align-items: center;
-ms-flex-align: center;
align-items: center;
margin: 0 2em 0 0;
height: 70px;
color: #052a4e;
text-transform: uppercase;
font-size: .75rem;
font-weight: bold;
position: relative;
letter-spacing: 0.05em;
text-decoration: none;
}

.main-header {
  height: 60px;
  width: 100%;
  background-color: #f9f8f2;
}

.readme h1 {
  margin: 0;
  color: #052a4e;
  font-size: 41.6px;
}

.reaction-btn {
  font-family: PostGrotesk-Bold;
  height: auto;
  background-color: #a7edff;
  border-radius: 35px;
  color: #052a4e;
  display: inline-block;
  font-size: .75rem;
  letter-spacing: .075rem;
  line-height: 17px;
  padding: 1.25em 5.5em 1.25em 2.25em;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
  outline: 0;
  transition: background-color .24s ease-in-out;
  width: 189px;
}

.reaction-btn:hover {
  transition-duration: .12s;
  background-color: #8de8ff;
}

.btn__arrow {
  position: absolute;
  right: 2.25em;
  top: 50%;
  transition: 0.24s ease-in-out right;
}

.btn__arrow::before {
  content: '';
display: block;
position: absolute;
right: 0px;
top: -1px;
height: 2px;
width: 18px;
background-color: #052a4e;
}

.btn__arrow::after {
  content: '';
display: block;
border-right: 2px solid #052a4e;
border-bottom: 2px solid #052a4e;
width: 12px;
height: 12px;
position: absolute;
bottom: -6px;
right: 0px;
transform: rotate(-45deg);
}
