@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700);

* {
  box-sizing: border-box
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: white;
  color: #4d4e53;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  line-height: 160%;
  margin: 0 auto;
}

a,
a:active {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

article a {
  border-bottom: 1px solid #ddd;
}

article a:hover, article a:active {
  border-bottom-color: #222;
}

p, ul, ol, blockquote {
  margin-bottom: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
  font-weight: 400;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
  margin: 0;
}

h1 {
  font-size: 48px;
  font-weight: 300;
  margin: 1em 0 .5em;
}

.page-title {
  font-size: 40px;
  margin: 0;
  margin-bottom: 50px;
  color: #052a4e;
}

h2 {
  font-size: 24px;
  margin: 1.5em 0 .3em;
}

h3 {
  font-size: 24px;
  margin: 1.2em 0 .3em;
}

h4 {
  font-size: 18px;
  margin: 1em 0 .2em;
  color: #4d4e53;
}

h4.name {
  color: #fff;
  background: #052a4e;
  margin: 2.5em 0 0.5em;
  padding: .75em 0 .75em 10px;
  font-size: 22px;
}

h4.name a {
  color: #fc83ff;
}

h4.name a:hover {
  border-bottom-color: #fc83ff;
}

h5,
.container-overview .subsection-title {
  font-size: 120%;
  letter-spacing: -0.01em;
  margin: 8px 0 3px 0;
}

h6 {
  font-size: 100%;
  letter-spacing: -0.01em;
  margin: 6px 0 3px 0;
  font-style: italic;
}

tt,
code,
kbd,
samp {
  font-family: "Menlo", "Lucida Console", "Lucida Sans Typewriter", Monaco, monospace;
  background: #f4f4f4;
  padding: 1px 5px;
}

.class-description {
  font-size: 130%;
  line-height: 140%;
  margin-bottom: 1em;
  margin-top: 1em;
}

.class-description:empty {
  margin: 0
}

header {
  display: block
}

section {
  display: block;
  background-color: #fff;
  max-width: 900px;
}

.variation {
  display: none
}

.signature-attributes {
  font-size: 60%;
  color: #a7edff;
  font-style: italic;
  font-weight: lighter;
}

nav h3 {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: normal;
  font-weight: 600;
  line-height: 24px;
  padding: 0;
  color: #000;
}

nav ul {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 100%;
  line-height: 17px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

nav ul a,
nav ul a:active {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
  line-height: 18px;
  padding: 0.2rem 0.4rem;
  display: block;
  font-size: 14.4px;
  font-weight: 400;
}

nav > ul > li > a {
  font-size: 14.4px;
  font-weight: 400;
  padding: 0.2rem 0.4rem;
}

nav a:hover {
  background: #e4faff;
  text-decoration: none;
}

nav a:hover {
  color: #000;
}

nav a:active {
  color: #fd8283;
}

nav > ul {
  padding: 0 10px;
}

nav ul ul {
  margin-bottom: 10px;
  margin-left: 20px;
}

nav ul ul + ul {
  margin-top: -10px;
}

nav ul ul a {
  color: hsl(207, 1%, 60%);
  border-left: 1px solid hsl(207, 10%, 86%);
}

nav ul ul a,
nav ul ul a:active {
  padding-left: 20px
}

nav h2 {
  font-size: 12px;
  margin: 0;
  padding: 0;
}

nav > h2 > a {
  display: block;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
}

nav h3 {
  margin-top: 48px;
}

footer {
  color: hsl(0, 0%, 28%);
  margin-left: 325px;
  display: block;
  padding: 15px;
  font-style: italic;
  font-size: 90%;
}

.ancestors {
  color: #999
}

.ancestors a {
  color: #999 !important;
}

.clear {
  clear: both
}

.important {
  font-weight: bold;
  color: #950B02;
}

.yes-def {
  text-indent: -1000px
}

.type-signature {
  color: #a7edff
}

.type-signature:last-child {
  color: #eee;
}

.name,
.signature {
  font-family: "Menlo", "Lucida Console", "Lucida Sans Typewriter", Monaco, monospace
}

.signature {
  color: #a7edff;
}

.details {
  margin-top: 6px;
  border-left: 2px solid #DDD;
  line-height: 20px;
  font-size: 14px;
}

.details dt {
  width: 120px;
  float: left;
  padding-left: 10px;
}

.details dd {
  margin-left: 70px;
  margin-top: 6px;
  margin-bottom: 6px;
}

.details ul {
   margin: 0
}

.details ul {
  list-style-type: none
}

.details pre.prettyprint {
  margin: 0
}

.details .object-value {
  padding-top: 0
}

.description {
  margin-bottom: 1em;
  margin-top: 1em;
}

.code-caption {
  font-style: italic;
  font-size: 107%;
  margin: 0;
}

.prettyprint {
  font-size: 14px;
  overflow: auto;
}

.prettyprint.source {
  width: inherit;
  line-height: 18px;
  display: block;
  background-color: #0d152a;
  color: #aeaeae;
}

.prettyprint code {
  line-height: 18px;
  display: block;
  background-color: #0d152a;
  color: #4D4E53;
}

.prettyprint > code {
  padding: 15px;
}

.prettyprint .linenums code {
  padding: 0 15px
}

.prettyprint .linenums li:first-of-type code {
  padding-top: 15px
}

.prettyprint code span.line {
  display: inline-block
}

.prettyprint.linenums {
  padding-left: 70px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.prettyprint.linenums ol {
  padding-left: 0
}

.prettyprint.linenums li {
  border-left: 3px #34446B solid;
}

.prettyprint.linenums li.selected,
.prettyprint.linenums li.selected * {
  background-color: #34446B;
}

.prettyprint.linenums li * {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.params,
.props {
  border-spacing: 0;
  border: 1px solid #ddd;
  border-collapse: collapse;
  border-radius: 3px;
  width: 100%;
  font-size: 14px;
  margin: 1em 0;
}

.params .type {
  white-space: nowrap;
}

.params code {
  white-space: pre;
}

.params td,
.params .name,
.props .name,
.name code {
  color: #4D4E53;
  font-family: "Menlo", "Lucida Console", "Lucida Sans Typewriter", Monaco, monospace;
  font-size: 100%;
}

.params td,
.params th,
.props td,
.props th {
  margin: 0px;
  text-align: left;
  vertical-align: top;
  padding: 10px;
  display: table-cell;
}

.params td {
  border-top: 1px solid #eee
}

.params thead tr,
.props thead tr {
  background-color: #fff;
  font-weight: bold;
}

.params .params thead tr,
.props .props thead tr {
  background-color: #fff;
  font-weight: bold;
}

.params td.description > p:first-child,
.props td.description > p:first-child {
  margin-top: 0;
  padding-top: 0;
}

.params td.description > p:last-child,
.props td.description > p:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

span.param-type,
.params td .param-type,
.param-type dd {
  color: #000;
  font-family: "Menlo", "Lucida Console", "Lucida Sans Typewriter", Monaco, monospace
}

.param-type dt,
.param-type dd {
  display: inline-block
}

.param-type {
  margin: 14px 0;
}

.disabled {
  color: #454545
}

/* navicon button */
.navicon-button {
  display: none;
  position: relative;
  padding: 2.0625rem 1.5rem;
  transition: 0.25s;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  opacity: .8;
}
.navicon-button .navicon:before,
.navicon-button .navicon:after {
  transition: 0.25s;
}
.navicon-button:hover {
  transition: 0.5s;
  opacity: 1;
}
.navicon-button:hover .navicon:before,
.navicon-button:hover .navicon:after {
  transition: 0.25s;
}
.navicon-button:hover .navicon:before {
  top: .825rem;
}
.navicon-button:hover .navicon:after {
  top: -.825rem;
}

/* navicon */
.navicon {
  position: relative;
  width: 2.5em;
  height: .3125rem;
  background: #000;
  transition: 0.3s;
  border-radius: 2.5rem;
}
.navicon:before,
.navicon:after {
  display: block;
  content: "";
  height: .3125rem;
  width: 2.5rem;
  background: #000;
  position: absolute;
  z-index: -1;
  transition: 0.3s 0.25s;
  border-radius: 1rem;
}
.navicon:before {
  top: .625rem;
}
.navicon:after {
  top: -.625rem;
}

/* open */
.nav-trigger:checked + label:not(.steps) .navicon:before,
.nav-trigger:checked + label:not(.steps) .navicon:after {
  top: 0 !important;
}

.nav-trigger:checked + label .navicon:before,
.nav-trigger:checked + label .navicon:after {
  transition: 0.5s;
}

/* Minus */
.nav-trigger:checked + label {
  -webkit-transform: scale(0.75);
    transform: scale(0.75);
}

/* × and + */
.nav-trigger:checked + label.plus .navicon,
.nav-trigger:checked + label.x .navicon {
  background: transparent;
}

.nav-trigger:checked + label.plus .navicon:before,
.nav-trigger:checked + label.x .navicon:before {
  -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  background: #FFF;
}

.nav-trigger:checked + label.plus .navicon:after,
.nav-trigger:checked + label.x .navicon:after {
  -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  background: #FFF;
}

.nav-trigger:checked + label.plus {
  -webkit-transform: scale(0.75) rotate(45deg);
    transform: scale(0.75) rotate(45deg);
}

.nav-trigger:checked ~ nav {
  left: 0 !important;
}

.nav-trigger:checked ~ .overlay {
  display: block;
}

.nav-trigger {
  position: fixed;
  top: 0;
  clip: rect(0, 0, 0, 0);
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: hsla(0, 0%, 0%, 0.5);
  z-index: 1;
}

@media only screen and (min-width: 320px) and (max-width: 680px) {
  body {
    overflow-x: hidden;
  }

  nav {
    background: #FFF;
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: -250px;
    z-index: 3;
    padding: 0 10px;
    transition: left 0.2s;
  }

  .navicon-button {
    display: inline-block;
    position: fixed;
    top: 1.5em;
    right: 0;
    z-index: 2;
  }

  #main {
    width: 100%;
    min-width: 360px;
  }

  #main h1.page-title {
    margin: 1em 0;
  }

  #main section {
    padding: 0;
  }

  footer {
    margin-left: 0;
    display: none;
  }
}

/** Add a '#' to static members */
[data-type="member"] a::before {
  content: '#';
  display: inline-block;
  margin-left: -14px;
  margin-right: 5px;
}
