.header-tags {
  width: auto;
  padding: @navbar-padding-vertical;
  a, span {
    padding: 0 8px 0 8px;
    color: @navbar-default-link-color;
    font-size: @font-size-base;
    // font-weight: @headings-font-weight;
    letter-spacing: @letter-spacing;
    border-bottom: 1px solid transparent;
    text-decoration: none;
  }
  ul {
    list-style: none;
    margin: 0 5px 0 auto;
  }
  li {
    float: left;
  }
}

.header-active-tag {
  border-bottom: 1px solid @navbar-default-link-active-color !important;
}
