<template name="siteFooter">
  <footer>
    <nav class="navbar-bottom " role="navigation">
      <div class="row hidden-xs">
        <div class="col-md-3 col-md-offset-1">
          <ul class="list-unstyled">
            <li>
              <a href="{{pathFor 'about'}}">About</a>
            </li>
            <li>
              <a href="{{pathFor 'team'}}">Team</a>
            </li>
            <li>
              <a href="http://ongoworks.com" target="_blank">
                Assembled with
                <span class="glyphicon glyphicon-heart" style="color:#428bca;"></span>
                in Los Angeles
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-2">
          <ul class="list-unstyled">
            <li>
              <a href="{{pathFor 'terms'}}">Terms</a>
            </li>
            <li>
              <a href="{{pathFor 'privacy'}}">Privacy</a>
            </li>
            <li>
              <a href="{{pathFor 'faqs'}}">Faqs</a>
            </li>
          </ul>
        </div>

        <div class="col-md-5">
        <ul class="list-unstyled">
            <li><a href="" class="fa fa-twitter-square fa-2x pull-right"></a></li>
            <li><a href="" class="fa fa-facebook-square fa-2x pull-right"></a></li>
            <li><a href="" class="fa fa-instagram fa-2x pull-right"></a></li>
            <li><a href="" class="fa fa-pinterest-square fa-2x pull-right"></a></li>
        </ul>
        </div>
      </div>
    </nav>
  </footer>
</template>

<template name="dashboardfooter">
  <footer class="unstyled">
    <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
      <div class="col-md-2"></div>
      <div class="col-md-2"></div>
      <div class="col-md-2"></div>
      <div class="col-md-6"></div>
    </nav>
  </footer>
</template>