.add-shipping-method, 
.edit-shipping-method, 
.delete-shipping-method{
  cursor: pointer;
  padding-right: 10px;
}

.add-shipping-provider {
  cursor: pointer;
  padding-right: 33px;
  margin-top: 30px;
}

.edit-shipping-provider {
  cursor: pointer;
  padding-right: 18px;
}

.shipping-rate-tables {

}