<template name="footer">
  <nav class="navbar-bottom" role="navigation">
    <div class="row">
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
        <ul class="list-unstyled">
          <li>
            <a href="{{pathFor 'about'}}" data-event-category="link" data-event-action="link-click" data-event-label="page link click" data-event-value="{{pathFor 'about'}}">About</a>
          </li>
          <li>
            <a href="{{pathFor 'team'}}" data-event-category="link" data-event-action="link-click" data-event-label="page link click" data-event-value="{{pathFor 'team'}}">Team</a>
          </li>
          <li>
            <a href="http://meteor.com" target="_blank" data-event-category="link" data-event-action="link-click" data-event-label="external link click" data-event-value="meteor.com">
              Made with Meteor
            </a>
          </li>
        </ul>
      </div>
      <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2">
        <ul class="list-unstyled">
          <li>
            <a href="{{pathFor 'terms'}}" data-event-category="link" data-event-action="link-click" data-event-label="page link click" data-event-value="{{pathFor 'terms'}}">Terms</a>
          </li>
          <li>
            <a href="{{pathFor 'privacy'}}" data-event-category="link" data-event-action="link-click" data-event-label="page link click" data-event-value="{{pathFor 'privacy'}}">Privacy</a>
          </li>
          <li>
            <a href="{{pathFor 'faqs'}}" data-event-category="link" data-event-action="link-click" data-event-label="page link click" data-event-value="{{pathFor 'faqs'}}">Faqs</a>
          </li>
        </ul>
      </div>

      <div class="col-xs-5 col-xs-offset-1 col-sm-6 col-sm-offset-0 col-md-5">
        <div class="list-unstyled pull-right">
          {{#each reactionApps provides="social" name="reaction-social"}}
            {{> Template.dynamic template=template data=customSocialSettings }}
          {{/each}}
        </div>
      </div>
    </div>
  </nav>
</template>
