.variant-table {

}

#frm select {
  width: auto;
}

.vendor-label {
  margin-top: -10px;
}

.price-label {
  margin-top: -10px;
}

.product-img {
  max-width: 100%;
}

/* image drop pane when no images (default) */
.imageDropPane {
  text-align: center;
  padding: 20px;
  min-height: 150px;
  max-height: 100%;
  background-color: #F6F6F6;
  border: 1px dashed #666;
  border-radius: 6px;
  margin-bottom: 20px;
}

.galleryDropPane {
  text-align: center;
  padding: 20px;
  min-height: 150px !important;
  max-height: 100%;
  background-color: #F6F6F6;
  border: 1px dashed #666;
  border-radius: 6px;
  margin-bottom: 20px;
}

.videoDropPane {
  text-align: center;
  padding: 20px;
  min-height: 150px !important;
  max-height: 100%;
  background-color: #F6F6F6;
  border: 1px dashed #666;
  border-radius: 6px;
  margin-bottom: 20px;
}

.drag-over {
  text-align: center;
  padding: 20px;
  min-height: 150px !important;
  max-height: 100%;
  background-color: #e3fb9b;
  border: 2px solid #666;
  border-radius: 6px;
  margin-bottom: 20px;
}

.image-src {
  max-width: 100%;
  padding: 0px;
}

/* gallery drop pane when no images (default) */
.galleryDropPane {
  max-width: 100%;
}

/* x-editable sizing */
.editable-width {
  width: 500px;
  padding: 5px;
}

.editable-input {
  padding: 0px 10px 0px 10px !important;
}

/*.gallery {
  padding: 2px;
  min-height:100px;
  width: 100%;
  background-color: #F6F6F6;
  border: 1px dashed #666;
  border-radius: 6px;
  margin-bottom: 20px;
}
*/
.product-image {
  height: 100%;
}

.imageAddButton {
  cursor: pointer;
}
