.dashboard-container {
  height: 100%;
  margin-bottom: 40px;
  // padding: 0 0 40px 0;
}
.dashboard {
  border-radius: @border-radius-base;
  border: 1px solid @table-border-color;
}

.shop-config {
  height: 320px;
  background-color: @dashboard-widget-bg;
}

.shop-nav {
  background-color: @navbar-default-bg;
}