.dashboard {
  height: 100%;
  border-radius: @border-radius-base;
  border: 1px solid @table-border-color;
}

.shop-config {
  height: 400px;
  background-color: @dashboard-widget-bg;
}

.shop-nav {
  background-color: @navbar-default-bg;
}

.dashboard-apps {
  margin: 50px auto;
}