<template name="header">
{{!--   remove this div, insert your header, update routing.coffee --}}
  <div class="container alert alert-danger">
    <h1>
      To use your own header:
      <small>change /client/routing.coffee</small>
    </h1>
    <p>
      yieldTemplates:
    templateHeader:
      to: "header"
    </p>
    <p> <strong>change "templateHeader" to be any template, for example this template would be</strong>
      <p>
        :
  yieldTemplates:
    templateHeader:
      to: "header"
      </p>
    </p>
  </div>
</template>