.imageArea {
  margin-bottom: 70px;
}

.imageArea .media {
  margin-top: 0;
  margin-right: 10px;
  width: 300px;
  max-width: 300px;
}

.btn-row {
  margin: -2px 0;
}

.btn-row > .btn {
  margin: 2px 0;
}
